@{
    ViewData["Title"] = "Student Page";
}

<div class="text-center">
    <form asp-action="Registration" asp-controller="Student">
        <button class="btn btn-primary w-25 fs-3 mt-5">Register Here</button>
    </form>
</div>